@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-default {
		@apply text-neutral-600 dark:text-neutral-200;
	}
}

@layer components {
	.container {
		@apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
	}

	button:disabled {
		@apply cursor-not-allowed opacity-50;
	}

	.btn-base {
		@apply rounded-full text-sm font-semibold shadow focus:outline-none focus:ring-2 focus:ring-offset-2;
	}
	.btn-primary {
		@apply border border-transparent bg-neutral-900 text-white hover:bg-sky-500 focus:ring-sky-500;
	}

	button[type="submit"],
	.btn {
		@apply btn-base btn-primary flex justify-center px-4 py-2 dark:shadow-black;
	}
	.input-label {
		@apply pl-2 text-sm font-medium leading-6 text-neutral-500  dark:text-neutral-100;
	}

	.input-base {
		@apply block w-full appearance-none rounded-full border px-3 py-1.5 font-sans font-medium tracking-wide shadow-inner focus:outline-none focus:ring-2 focus:ring-offset-2 sm:text-sm sm:leading-6;
	}

	.input-primary {
		@apply text-default border-0 bg-neutral-100 shadow-neutral-300 ring-2 ring-neutral-200 placeholder:italic  placeholder:text-neutral-400 focus:ring-sky-400 dark:bg-neutral-800 dark:shadow-black dark:ring-neutral-600  dark:placeholder:text-neutral-500 dark:focus:ring-sky-400;
	}

	form label {
		@apply input-label;
	}

	form input {
		@apply input-base input-primary;
	}

	pre {
		@apply overflow-x-auto rounded-md bg-neutral-100 p-3 text-xs text-neutral-800 dark:bg-neutral-900 dark:text-neutral-200;
	}
}

a {
	color: inherit;
	text-decoration: inherit;
}

::-webkit-scrollbar {
	width: 10px;
	height: 20px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #4a5968;
	border-radius: 10px;
	border: 3px solid #1f2021;
}

::-webkit-scrollbar-thumb:hover {
	background: #45607b;
}
